.main {
    background-image: url('https://livedemo00.template-help.com/wt_prod-20462/images/slider-1-slide-2-1770x742.jpg');
    height: 100vh;
    background-size: cover;
}

.main-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    padding-top: 120px;
}

.main-txt h1 {
    font-size: 80px;
    text-align: center;
}

.main-txt p {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    text-align: center;
    margin: 30px 0;
}

.blue-btn {
    background-color: #6689FF;
    border: none;
    width: 160px;
    height: 40px;
    padding: 10px;
    color: white;
}

.blue-btn:hover {
    background-color: black;
}
@media(max-width:425px){
    .main-txt h1{
        font-size: 60px;
    }
}

@media(max-width:375px){
    .main-txt h1{
        font-size: 50px;
    }
}
@media(max-width:320px){
    .main-txt h1{
        font-size: 40px;
    }
}