.section-5 {
    display: flex;
    width: 95%;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding-top: 50px;
}

.exp-1 {
    display: flex;
    align-items: center;
}

.exp-h1 {
    background: linear-gradient(-62deg, #45476f, #6689ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 300px;
    font-weight: 500;
}

.section5-txt {
    width: 30%;
}

.section5-txt h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    border-left: 3px solid #9b9b9b;
    padding-left: 20px;
}

.section5-txt p {
    margin: 20px 0;
    color: #9b9b9b;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 1px;
    font-weight: 500;
}

.exp-2 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.exp-txt {
    width: 40%;
    padding: 10px;
}

.exp-txt h1 {
    font-size: 80px;
}

.exp-txt p {
    color: #9b9b9b;
    font-size: 14px;
}

.exp-2 .first {
    border-right: 1px solid #d6d5d5;
    border-bottom: 1px solid #d6d5d5;
}

.exp-2 .second {
    border-left: 1px solid #d6d5d5;
    border-top: 1px solid #d6d5d5;
    margin-top: -1px;
}

@media (max-width: 768px){
    .section-5 {
        flex-wrap: wrap;
    }
    .exp-1, .exp-2  {
        width: 90%;
        margin-top: 20px;
    }
}
@media(max-width:425px){
    .exp-1{
        flex-wrap: wrap;
        justify-content: center;
    }
    .section5-txt{
        width: 90%;
    }
    .exp-2{
        flex-wrap: wrap;

    }
    .section5-txt{
        width: 90%;
    }
    .exp-txt{
        width: 90%;
        text-align: center;
        border-bottom: 1px solid #d6d5d5;
        padding: 20px0;
    }
    .exp-2 .first{
        border-right: none;
        
    }
    .exp-2 .second{
        border-left: none;
        
    }
    .exp-txt h1{
        font-size: 100px;
    }
}