.section-4 {
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 80px;
}

.h1-center {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 1px;
}

.section-4 p {
    width: 55%;
    text-align: center;
    margin: 30px 0;
    line-height: 22px;
    font-size: 15px;
    font-weight: 500;
}

.section4-links {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-bottom: 50px;
    color: #9B9B9B;
}

.section4-links a {
    text-decoration: none;
    color: #9B9B9B;
    font-size: 18px;
    font-weight: 500;
}

.section4-links .link-a {
    color: #6689FF;
}

.section4-cards {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    justify-content: space-around;
}

.section4-items {
    width: 30%;
    margin-bottom: 20px;
}

.section4-items img {
    width: 100%;
}
.filter-btn{
    display: none;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    height: 50px;
    border: 2px solid black;
    margin-bottom: 30px;

}
.filter-btn img{
    width: 10px;
    height: 10px;
}

@media (max-width: 768px){
    .section4-links {
       width: 100%; 
    }
    .section4-items {
        width: 45%;
    }
}

@media(max-width: 425px){
    .section4-links{
        display: none;
    }
    .filter-btn{
        display: flex;
    }
    .section4-items{
        width: 90%;
    }